#expandBar
{
	height: 200px;
	width: 100%;
	background-color: rgb(50, 50, 50);
	background-image: url('../images/greyBack.png');
	position: absolute;
	top: 0;
	left: 0;
}
#topListsBar
{
	height: 30px;
	width: 100%;
	background-color: rgb(50, 50, 50);
	position: absolute;
	top: 200px;
	left: 0;
}
#content
{
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 250px;
	left: 50%;
	width: 1000px;
	height: 100%;
	margin-left: -500px;
	box-shadow: 18px 18px 22px -19px #FFFFFF, -18px -18px 22px -19px #FFFFFF;
}
body
{
	background-color: black;
}